body {
	background-color: #FF4136 !important;
	font-family: 'Nunito', sans-serif !important;
}

.content {
	color:white;
}

.bungee-font {
	font-family: 'Bungee', cursive;
}

.black{

	color:black;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}